.task {
  min-height: 5rem;
  padding: 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: move;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon svg {
  font-size: 1.25rem;
  fill: var(--clr-red);
  cursor: pointer;
}

.status {
  font-size: small;
  padding: 0.25rem;
  border-radius: 4px;
}

.PLANNED {
  background-color: var(--clr-gray-light);
}

.ONGOING {
  background-color: var(--clr-ongoing);
}

.DONE {
  background-color: var(--clr-done);
}
