.task {
  min-height: 5rem;
  padding: 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  font-size: small;
  padding: 0.25rem;
  background-color: var(--clr-gray-light);
  border-radius: 4px;
}

.PLANNED {
}

.ONGOIMG {
  background-color: var(--clr-ongoing);
}

.DONE {
  background-color: var(--clr-done);
}
