.column {
  width: 33%;
  max-width: 20rem;
  min-height: 20rem;
  padding: 0.5rem;
  background-color: var(--clr-gray-dark);
  margin: 0 0.5rem;
  border: 4px dashed transparent;
  border-radius: 4px;
}

.column.drop {
  border-color: var(--clr-white);
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.title-wrapper button {
  all: unset;
  height: fit-content;
  padding: 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
}

.title-wrapper button:hover {
  background-color: var(--clr-gray-light);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  width: 25rem;
  height: 5rem;
  padding: 1rem;
  background-color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content input {
  display: inline-block;
  font-family: inherit;
  font-size: 1.5rem;
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
  background-color: transparent;
  color: #999;
  border: 1px solid var(--clr-gray);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline-color: var(--clr-gray-light);
  caret-color: var(--clr-gray-light);
}

.modal-content input::placeholder {
  font-size: 1.4rem;
  color: #bbb;
}

.modal-content button {
  all: unset;
  display: inline-block;
  height: 3rem;
  padding: 0 0.5rem;
  background-color: var(--clr-gray-light);
  color: var(--clr-gray);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline-color: var(--clr-gray-light);
  cursor: pointer;
  transition: all 0.2s;
}

.modal-content button:hover {
  opacity: 0.95;
}

.modal-content button:disabled {
  opacity: 0.5;
}
