.column {
  width: 33%;
  max-width: 20rem;
  min-height: 20rem;
  padding: 0.5rem;
  background-color: var(--clr-gray-dark);
  margin: 0 0.5rem;
  border-radius: 4px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper button {
  all: unset;
  height: fit-content;
  padding: 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 4px;
}
